@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
    
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap');

h3 {
    font-family: 'Roboto', sans-serif;
}


h1 {
    color: rgb(234, 242, 234);
    font-family: 'Dancing Script', cursive;
    text-align: left;
}

#ételekHeader {
    color: brown;
    font-family: "Roboto", sans-serif;
}

#üdítőkHeader{
    color: blueviolet;
}
.content {
    color: grey;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-transform: normal;
    line-height: 30px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: rgb(23, 211, 16);
}
img {
    width: 14%;
    box-shadow: 3px 3px 7px black;
    margin: 1%;

}
#img-1 {
    visibility: 32
}